.repository{
    background-color: antiquewhite;
    max-width: 1000px;
}

a{
    background-color:burlywood;
    /* color: white; */
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
.all{
    text-align: center;
    padding-left:400px;
}
